<div class="container py-5">

    <div class="row">
        <div class="col-lg-8 mx-auto text-center">
            <h1 class="display-4">Authentication</h1>
            <p class="lead mb-0">Please login to access the system</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 mx-auto">
            <div class="bg-white rounded-lg shadow-sm p-5">

                <div id="nav-tab-card" class="tab-pane fade show active">

                    <form [formGroup]="loginForm" (ngSubmit)="login()">
                        <div class="form-group"
                            [ngClass]="{'has-error': (autoValidate || loginForm.controls['username'].touched) && loginForm.controls['username'].errors && loginForm.controls['username'].errors.required, 'has-success': loginForm.controls['username'].valid}">
                            <label for="username" class="control-label">Username</label>
                            <input type="text" name="username" placeholder="David Smith" required class="form-control"
                                formControlName="username">
                            <span class="help-block"
                                *ngIf="(autoValidate || loginForm.controls['username'].touched) && loginForm.controls['username'].errors && loginForm.controls['username'].errors.required">Please
                                enter Username.</span>
                        </div>

                        <div class="form-group"
                            [ngClass]="{'has-error': (autoValidate || loginForm.controls['password'].touched) && loginForm.controls['password'].errors && loginForm.controls['password'].errors.required, 'has-success': loginForm.controls['password'].valid}">
                            <label for="password" class="control-label">Password</label>
                            <input type="password" name="password" placeholder="*******" required class="form-control"
                                formControlName="password">
                            <span class="help-block"
                                *ngIf="(autoValidate || loginForm.controls['password'].touched) && loginForm.controls['password'].errors && loginForm.controls['password'].errors.required">Please
                                enter password.</span>
                        </div>

                        <div class="form-group"
                            [ngClass]="{'has-error': (autoValidate || loginForm.controls['nickname'].touched) && loginForm.controls['nickname'].errors && loginForm.controls['nickname'].errors.required, 'has-success': loginForm.controls['nickname'].valid}">
                            <label for="nickname" class="control-label">Nickname</label>
                            <input type="text" name="nickname" placeholder="David" required class="form-control"
                                formControlName="nickname">
                            <span class="help-block"
                                *ngIf="(autoValidate || loginForm.controls['nickname'].touched) && loginForm.controls['nickname'].errors && loginForm.controls['nickname'].errors.required">Please
                                enter nickname.</span>
                        </div>

                        <button type="submit" class="subscribe btn btn-primary btn-block rounded-pill shadow-sm">
                            Login </button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
